/*****General rules*****/

body {
	background-image: url(/images/background.jpg);
	background-repeat: no-repeat;
	color: white;
	background-color: black;
	font-family: arial;
	font-size: 13px
}

#main {
	width: 95%;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#content {
	margin-top: 20px;
}

a, a:visited {
	color: orange;
	font-size: 13px
}

/*****Sill tables rules*****/

.skill-table {
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

.skill-table tr:first-child {
	font-size: 1.4em;
	font-weight: bold;
}

.skill-table tr:first-child td {
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
}

.skill-table tr:nth-of-type(2n) {
	background-color: #3366CC;
}

.skill-table tr:first-child~tr {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.skill-table tr:first-child~tr td:first-child {
	border-left: 1px solid white;
	border-right: 1px solid white;
	font-weight: bold;
	font-style: italic;
}

.skill-table tr:first-child~tr td:last-child {
	border-right: 1px solid white;
}

.lvl-0 {
	color: #ff0000;
}

.lvl-25 {
	color: #ff2200;
}

.lvl-50 {
	color: #cc2200;
}

.lvl-75 {
	color: #cc4400;
}

.lvl-100 {
	color: #aa4400;
}

.lvl-125 {
	color: #aa6600;
}

.lvl-150 {
	color: #886600;
}

.lvl-175 {
	color: #668800;
}

.lvl-200 {
	color: #44aa00;
}

.lvl-225 {
	color: #22cc00;
}

.lvl-250 {
	color: #00ff00;
}

/*****Helpers*****/

.center {
	margin: auto;
}

.black {
	background-color: black;
}

.top {
	margin-top: 15px;
}

.right {
	float: right;
}

.padding {
	padding: 3px 5px;
}
