<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Informations de guilde - Erreur critique</title>
</head>
<body>
    <h2>Une erreur est survenue</h2>
	<div>{{ errorText }}</div>
	<p>Merci de retourner sur l'application <a href="http://app.ryzom.com">Ryzom</a> afin d'utiliser l'application Informations de guilde.</p>
</body>
</html>