{% extends "content.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block pageTitle %}Accueil{% endblock pageTitle %}

{% block content %}
	{% if grade=="NoGuild" %}
		<div>
			<p>L'application est réservée aux membres d'une guilde.</p>
			<p>Retour sur <a href="http://app.ryzom.com">Ryzom</a>.</p>
		</div>
	{% else %}
		<div><h2>{{ translate('m.welcome') }}</h2></div>
	{% endif %}
{% endblock content %}