{% extends "content.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block content %}
	<h2></h2>
	<a href="{{ urlFor('ryzomApp-HominKey') }}?checksum={{ checksum }}&user={{ user }}">Clé api</a>
{% endblock content %}