{% extends "skills.app.html.twig" %}

{% block skillContent %}
	<h2>Niveau de magie</h2>
	<table>
		<tr>
			<td>Nom</td>
			<td>Curative</td>
			<td>Neutralisante</td>
			<td>Élémentaire</td>
			<td>Débilitante</td>
		</tr>

	</table>
{% endblock %}