
* 
	{
		border:none;
		margin:0px;
		padding:0px;
	}
a:link, a:visited , a:hover , a:active 
	{
		color:#ef9a64;
		text-decoration:none;
	}

body
	{
		padding:5px;
		background-color:#000000;
		color: white;
	}

	
#corps
	{
		position:relative;
		/*width:800px;
		height:600px;*/
		margin:auto;
		z-index:0;
	}
#corps #bordH
	{
		/*position:absolute;
		z-index:15;
		left:8px;right:26px;*/
		background-repeat:repeat-x;
		/*height:32px;*/
		background-image:url('images/skin_header_m.gif');
		color:#FFFFFF;
		padding-top:5px;
		padding-left:5px;
		padding-right: 5px;
	}

#corps #bordHG
	{
		position:absolute;
		z-index:15;
		left:0px;
		width:8px;
		height:32px;
		background-image:url('images/skin_header_l.gif');

	}
#corps #bordHD
	{
		position:absolute;
		z-index:15;
		right:0px;
		width:26px;
		height:32px;
		background-image:url('images/skin_header_r.gif');
	}
#corps #bordG
	{
		position:absolute;
		z-index:15;
		left:0px;top:32px;bottom:8px;
		width:8px;
		background-image:url('images/skin_l.gif');
	}
#corps #bordD
	{
		position:absolute;
		z-index:15;
		right:0px;top:32px;bottom:8px;
		width:8px;
		background-image:url('images/skin_r.gif');
	}
	
#centre
	{	
		/*position:absolute;
		z-index:10;
		left:8px;right:8px;
		top:26px;bottom:5px;*/
		background-image:url('images/skin_blank_inner.png');
		padding-top: 0px;
	}

#corps #bordB
	{
		position:absolute;
		z-index:15;
		left:8px;right:8px;bottom:0px;
		background-repeat:repeat-x;
	
		height:8px;
		background-image:url('images/skin_b.gif');
	}

#corps #bordBG
	{
		position:absolute;
		z-index:15;
		left:0px;bottom:0px;
		width:8px;
		height:8px;
		background-image:url('images/skin_bl.gif');

	}
#corps #bordBD
	{
		position:absolute;
		z-index:15;
		right:0px;bottom:0px;
		width:8px;
		height:8px;
		background-image:url('images/skin_br.gif');
	}
#zoneTravail
	{	
		position:absolute;
		z-index:15;
		overflow:auto;
		right:8px;left:8px;
		top:26px;bottom:8px;
		border-color:#030403 #6E7F57 #889E6C #272D1F;
		color:#FFFFFF;
	}

	
.clearFloat
	{
		clear:both;
	}


td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: white;
	}

.c0 {
	color: #ff0000;
}
.c25 {
	color: #ff2200;
}
.c50 {
	color: #cc2200;
}
.c75 {
	color: #cc4400;
}
.c100 {
	color: #aa4400;
}
.c125 {
	color: #aa6600;
}
.c150 {
	color: #886600;
}
.c175 {
	color: #668800;
}
.c200 {
	color: #44aa00;
}
.c225 {
	color: #22cc00;
}
.c250 {
	color: #00ff00;
}

#lang
	{
		padding:5px;
		float:right;
	}
	
#lang a
	{
		padding-right:5px;
		float:right;
	}
