{% extends "ingame/content.ig.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block content %}
	{% if grade=="NoGuild" %}
		<div>
			<p>L'application est réservée aux membres d'une guilde.<br></p>
			<p>Retour sur <a href="http://app.ryzom.com">Ryzom</a>.<br></p>
		</div>
	{% else %}
		<h2>Bonjour</h2>
	{% endif %}
{% endblock content %}