{% extends "ingame/content.ig.html.twig" %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock title %}

{% block content %}
	<h2>Bonjour!</h2>
	<a href="{{ urlFor('ryzomApp-HominKey') }}">Clé api</a>
{% endblock content %}